*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background:rgb(3,0,31);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh;
    display: flex;
}

/* Sidebar Styling  started here */
.sidebarsection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex:3;
    border-right: 1px solid grey;
}
.upperbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:2rem;
}
.upperbody1{
    margin:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding-bottom: 2rem;
}
.appname{
    font-size:1.5rem;
}
.chatgptlogo{
    animation:rotatelogo 8s infinite linear;
}
@keyframes rotatelogo{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.btn{
    display: flex;
    margin-left: 12px;
    padding-bottom: 4rem;
    border-bottom: 1px solid white;
}
.newchat{
    display: flex;
    cursor: pointer;
    justify-content: center;
    gap:1rem;
    align-items: center;
    width:100%;
    height:50px;
    background: rgb(85, 160, 160);
    color:white;
    border-radius:10px;
    border:none;
    font-weight: bolder;
}
.newchat:active{
    background-color: rgb(57, 181, 181);
    border:1px solid white
}
.add{
    width:30px;
}

.upperbody2{
    margin:1rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: 1rem;
}
.query{
    display: flex;
    align-items: center;
    gap:4rem;
    padding:10px;
    font-size: 1.5rem;
    width: 100%;
    height: 50px;
    color:white;
    background: black;
    border:1px solid white;
    border-radius:15px;
    border-bottom-left-radius:2px ;
    cursor: pointer;
}
.query:active{
    border:2px solid white;
}
/* Sidebar section styling ends here */

.mainbody{
    flex:9;
}
